.header__bar {
    width: 100%;
    padding: 25px 35px;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu__button{
    background-image: url(./../assets/icons/menu-icon.svg);
    width: 1.5rem;
    height: 1.5rem;
}
.contact__button{
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: var(--preto);
    font-weight: 300;
    border: 1.5px solid #000000;
    border-radius: 10px;
}
.menu__desktop {
    display: none;
}

.menu__mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 75px;
    left: 0;
    width: 100vw;
    height: 50vh;
    box-shadow: var(--shadow);
    background-color: var(--background-color);
}

.menu__mobile li {
    font-size: 1.4rem;
    padding: 25px 0px;
    border-bottom: 2px solid var(--preto);
    text-align: center;
}

.main__content{
    margin-top: 100px;
}

#home {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.main__about {
    text-align: center;
}
.about__header {
    margin-top: 1.5rem;
}

.profile__picture {
    width: 230px;
    height: 230px;
    /* margin-bottom: 2rem; */
}

.down__button {
    background-image: url(./../assets/icons/arrowdown.svg);
    width: 20px;
    height: 40px;
}

#about {
    height: 40vh;
    margin: 3rem 0;
    align-items: center;
    text-align: center;
}
#about p {
    font-size: 1.3rem;
    line-height: 40px;
}

#projects {
    text-align: center;
}

#contact {
    margin: 2rem 0rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contact__social ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
    width: 100%;
}
.contact__social li {
    width: 2rem;
    height: 2rem;
}
.contact__divider {
    width: 50%;
    color: var(--preto);
}

.contact__form form{
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
}
.contact__form input {
    width: 260px;
    height: 40px;
    margin: 10px 0px;
    padding-left: 10px;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.contact__form input:nth-child(3) {
    height: 100px;
}

.contact__form button{
    width: 260px;
    height: 43px;
    color: var(--branco);
    margin-top: 5px;
    padding: 4px 0px;
    background: rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.contact__form button:active{
    box-shadow: none;
}

@media screen and (min-width: 768px){
    .menu__mobile {
        display: none;
    }
    .menu__button {
        display: none;
    }
    .menu__desktop {
        display: block;
        width: 40%;
        font-size: 1.5rem;
    }
    .menu__desktop ul{
        display: flex;
        justify-content: space-between;
        padding: 0px 15px;
    }

    .menu__desktop li:hover {
        opacity: 60%;
        color: var(--cinza-claro);
        cursor: pointer;
        transition: .5s;
    }

    .banner__content {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        width: 100%;
    }
    .contact__button{
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
        color: var(--preto);
        font-weight: 300;
        border: 2px solid #000000;
        border-radius: 10px;
    }

    .contact__button:hover{
        background-color: var(--preto);
        color: var(--branco);
        transition: .5s;
        box-shadow: var(--shadow);
    }
}